body {
    background-color: black;
    color: white;
}

/* Pagina 1 */

.container {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    padding: 50px;
}

.labels input {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 20px;

}

.labels {
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 20px 80px;

}
